.fancy-mmenu{
	.fancybox-slide{
		padding: 0 !important;
		overflow-x: hidden;
	}
}
.mmenu__btn{
	display: inline-block;
	width: v(38);
	height: v(20);
	border-radius: v(10);
	border: 1px solid var(--color-main);
	position: relative;
	&:before,
	&:after{
		content: '';
		display: inline-block;
		vertical-align: top;
		position: absolute;
		width: v(18);
		height: 1px;
		background: var(--color-main);
		border-radius: 2px;
		left: 50%;
		transform: translateX(-50%);
	}
	&:before{
		top: v(6);
	}
	&:after{
		bottom: v(6);
	}
}

.mmenu__cont{
	--link-color: var(--black);
	--color-main: var(--black);
	color: var(--color-main);
	float: right;
	min-height: 100vh;
	transform: translateY(-100%);
	transition: .6s var(--ease-out);
	opacity: 1!important;
	width: 100%;
	padding: v(14) v(16) v(40);
	overflow: hidden;
	display: flex!important;
	flex-flow: column;

	.modal__close{
		top: v(15);
		right: v(16);
	}
	
	&.active{
		transform: none;
	}

	@include media($w-md) {
		// width: 60%;
		padding: v(60) v(45);
		.modal__close{
			top: v(20);
			right: v(45);
		}
	}
	@include media($w-lg) {
		// width: 60%;
		padding: v(70) v(60);
		.modal__close{
			top: v(38);
			right: v(60);
		}
	}
}
.mmenu__logo{
	padding-right: v(40);
	svg{
		fill: var(--color-main);
		width: v(220);
		height: v(30);
	}

	@include media($w-lg) {
		svg{
			width: v(275);
			height: v(38);
		}
	}
}
.mmenu__list{
	margin-top: v(71);
	li{
		border-top: 1px solid var(--line-gray);
		&:last-child{
			border-bottom: 1px solid var(--line-gray);
		}
	}
}
.mmenu__item{
	text-transform: uppercase;
	font-size: v(26);
	letter-spacing: -0.03em;
	padding: v(5) 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;

	&-more{
		padding-right: v(40);
	}

	&.active{
		.mmenu__more{
			span{
				&:after{
					transform: rotate(90deg) translate(-50%, 0);
					opacity: 0;
				}
			}
		}
	}

	@include media($w-md) {
		padding: v(10) 0;
		&-more{
			padding-right: v(60);
		}
	}
}
.mmenu__more{
	display: inline-block;
	vertical-align: top;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	width: v(40);
	padding: 0;
	border: none;
	background: transparent;

	span{
		display: inline-block;
		vertical-align: top;
		position: absolute;
		width: v(14);
		height: v(14);
		top: 50%;
		right: 0;
		margin-top: v(-7);
		&:before,
		&:after{
			content: '';
			display: inline-block;
			vertical-align: top;
			position: absolute;
			background: var(--carrot-2);
			transition: .3s var(--ease);
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			will-change: transform;
		}
		&:before{
			height: 1px;
			width: 100%;
		}
		&:after{
			height: 100%;
			width: 1px;
			top: 0;
			transform: translate(-50%, 0);
		}
	}

	@include media($w-lg) {
		width: v(50);
		span{
			width: v(20);
			height: v(20);
		}
	}

}

.mmenu__children{
	font-weight: 500;
	font-size: v(16);
	letter-spacing: -0.03em;
	padding-top: v(11);
	padding-bottom: v(36);
	display: none;
	&_list{
		display: flex;
		flex-flow: column;
	}
	a{
		margin-bottom: v(13);
		&:last-child{
			margin-bottom: 0;
		}
	}

	@include media($w-lg) {
		font-size: v(18);
	}
}
.mmenu__cart{
	--btn-height: 38;
	align-self: flex-start;
	margin-top: v(32);
	font-size: v(14);
	padding: 0 v(30) 0 v(20);
	svg{
		width: v(22);
		height: v(18);
		margin-top: v(5);
	}
	.btn-cart{
		margin-left: v(10);
		position: relative;
		.hcart__num{
			right: auto;
			left: v(24);
			top: v(3);
			font-size: v(12);
		}
	}

	@include media($w-lg) {
		font-size: v(18);
	}
}
.mmenu__contact{
	display: flex;
	flex-flow: column;
	padding-top: v(60);
	margin-top: auto;
	&_phone{
		--link-color: var(--carrot);
		font-size: v(26);
	}
	&_email{
		font-size: v(14);
		font-weight: 500;
		margin-top: v(5);
	}

	@include media($w-lg) {
		&_phone{
			font-size: v(36);
		}
		&_email{
			font-size: v(20);
			margin-top: v(10);
		}
	}
}