<div class="pr__item @@class">
	<div class="pr__img">
		@@if (gift === true) {
		<div class="pr__gift">
			<svg class="ico"><use xlink:href="./img/sprite.svg#plus-circle" /></svg>
			<div class="pr__gift_data">	
				<div class="pr__gift_capt">Кофемолка в комплекте</div>
				<div class="pr__gift_hidden">
					<div class="pr__gift_text">
						С прямым помолом электронного дозирования
					</div>
					<div class="pr__gift_img">
						<img src="./images/product/product-gift.png" alt="">
					</div>
				</div>
			</div>
		</div> }


		@@if (roast_status === true ) {
		<div class="pr__roast">
			<ul class="roast">
				@@for (var i = 0; i < roast.length; i++) {	<li class="`+roast[i]+`"></li>}
			</ul>
			<span>Средняя обжарка</span>
		</div> }
		<div class="pr__image img-item">
			<a href="./product-rent.html"><img src="./images/product/@@image" alt=""></a>
		</div>
		<div class="pr__buttons">
			<a href="./product-rent.html" class="btn btn-xs btn-black">
				<span class="btn-text" data-text="Подробнее">Подробнее</span>
			</a>
			<button class="btn btn-xs pr__add">
				<svg class="ico pr__add_arrow"><use xlink:href="./img/sprite.svg#arrow-right" /></svg>
				<svg class="ico pr__add_cart"><use xlink:href="./img/sprite.svg#cart" /></svg>
				<span class="btn-fill"></span>
			</button>
		</div>
	</div>

	@@if (sub_status === true ) {
	<div class="pr__sub">@@sub</div> }

	<a href="#" class="link pr__name">@@name</a>

	@@if (price.price === true) {
	<div class="pr__price">
		@@if (price.special === true) {
		<span class="pr__price_item pr__price_item-special">@@price.special_num</span>
		<span class="pr__price_old">@@price.price_num</span> }
		@@if (price.special === false) {
		<span class="pr__price_item">@@price.price_num</span> }
		@@if (price.weight === true) {
		<span class="pr__price_weight">@@price.weight_num</span> }
	</div>	}
	@@if (options.status === true) {
	<div class="pr__opt">
		<div class="pr__opt_item pr__opt_default">

			@@if (options.default === "without") {
			<div class="pr__opt_top">
				<div class="pr__opt_val">от 16 000 р.</div>
				@@if (options.more === true) {<div class="pr__opt_icon"><svg class="ico ico-center"><use xlink:href="./img/sprite.svg#arr-down" /></svg></div>}
			</div>
			<div class="pr__opt_text">без покупки кофе</div> }	

			@@if (options.default === "kg12") {
			<div class="pr__opt_top">
				<div class="pr__opt_val">Бесплатная аренда</div>			
				@@if (options.more === true) {<div class="pr__opt_icon"><svg class="ico ico-center"><use xlink:href="./img/sprite.svg#arr-down" /></svg></div>}
			</div>
			<div class="pr__opt_text">при покупке от 12кг кофе</div> }	

			@@if (options.default === "kg10") {
			<div class="pr__opt_top">
				<div class="pr__opt_val">16 000 р.</div>
				@@if (options.more === true) {<div class="pr__opt_icon"><svg class="ico ico-center"><use xlink:href="./img/sprite.svg#arr-down" /></svg></div>}
			</div>
			<div class="pr__opt_text">при покупке от 10кг кофе</div> }	

			@@if (options.default === "kg8") {
			<div class="pr__opt_top">
				<div class="pr__opt_val">24 000 р.</div>
				@@if (options.more === true) {<div class="pr__opt_icon"><svg class="ico ico-center"><use xlink:href="./img/sprite.svg#arr-down" /></svg></div>}
			</div>
			<div class="pr__opt_text">при покупке от 8кг кофе</div> }	

		</div>
		<div class="pr__opt_more">

			@@if (options.without === true) {	
			<div class="pr__opt_item">
				<div class="pr__opt_val">от 16 000 р.</div>
				<div class="pr__opt_text">без покупки кофе</div>
			</div> }

			@@if (options.kg12 === true) {	
			<div class="pr__opt_item">
				<div class="pr__opt_val">Бесплатная аренда</div>
				<div class="pr__opt_text">при покупке от 12кг кофе</div>
			</div> }

			@@if (options.kg10 === true) {	
			<div class="pr__opt_item">
				<div class="pr__opt_val">16 000 р.</div>
				<div class="pr__opt_text">при покупке от 10кг кофе</div>
			</div> }

			@@if (options.kg8 === true) {	
			<div class="pr__opt_item">
				<div class="pr__opt_val">24 000 р.</div>
				<div class="pr__opt_text">при покупке от 8кг кофе</div>
			</div> }

		</div>
	</div> }
</div>