.section_bid{
	padding-top: v(40);
	padding-bottom: v(90);

	@include media($w-lg) {
		padding-bottom: v(180);
	}
	@include media($w-xl) {
		padding-bottom: v(250);
	}
}
.bid__cont{

	@include media($w-lg) {
		display: flex;
		justify-content: space-between;
	}
}
.bid__data{

	@include media($w-lg) {
		flex: 0 0 40%;
		max-width: 40%;
		padding-top: v(30);
	}
}
.bid__form{
	margin-top: v(20);

	@include media($w-md) {
		margin-top: v(40);
	}
	@include media($w-lg) {
		flex: 0 0 50%;
		max-width: 50%;
		padding-left: v(8);
		margin-top: 0;
	}
}
.bid__contact{
	margin-top: v(16);
	display: flex;
	flex-flow: column;
	align-items: flex-start;

	@include media($w-lg) {
		margin-top: v(50);
	}
	@include media($w-xl) {
		margin-top: v(70);
	}
}
.bid__phone{
	--link-color: var(--carrot-2);
	font-size: v(32);
	line-height: 1.1;
	letter-spacing: -0.03em;

	@include media($w-lg) {
		font-size: v(46);
	}
	@include media($w-xl) {
		font-size: v(56);
	}
}
.bid__email{
	--link-color: var(--color-main);
	--link-color-active: var(--color-main);
	margin-top: v(5);
	font-size: v(14);

	@include media($w-lg) {
		font-size: v(20);
		letter-spacing: -0.03em;
	}
	@include media($w-xl) {
		font-size: v(26);
	}
}