.section_subcat{


}
.subcat{
	--margin: 8;
	--width: 100%;
	padding-top: v(30);
	position: relative;

	&__cont{
		display: flex;
		flex-wrap: wrap;
		margin: 0 calc(-1 * var(--margin) * var(--fz)) v(-8);
	}
	&__item{
		display: flex;
		flex-flow: column;
		position: relative;
		font-size: 	v(22);
		line-height: 1.1;
		letter-spacing: -0.03em;
		text-transform: uppercase;
		border-radius: v(2.85);
		overflow: hidden;
		color: var(--black);
		text-decoration: none !important;
		flex: 0 0 calc(var(--width) - var(--margin) * var(--fz) * 2);
		max-width: calc(var(--width) - var(--margin) * var(--fz) * 2);
		margin: 0 calc(var(--margin) * var(--fz)) v(8);
		padding: v(23) v(17);
		min-height: v(325);

		&.dark-item{
			color: #fff;
		}

	}
	&__bg{}
	&__name{
		.word{
			display: inline-flex;
			overflow: hidden;
		}
		.char{
			display: inline-block;
			position: relative;
			transition: .45s var(--ease-out);
			&:before,
			&:after{
				content: attr(data-char);
				position: absolute;
				left: 0;
			}
			&:before{
				bottom: 100%;
			}
			&:after{
				top: 100%;
			}
		}
	}
	&__img{
		display: flex;
		justify-content: center;
		margin-top: auto;
	}

	&__item{
		&:hover{
			.subcat__name{
				.char{
					transform: translateY(100%);
					&:nth-of-type(odd) {
						transform: translateY(-100%);
					}
				}
			}
		}
	}

	@include media($w-md) {
		--width: 50%;
		&__cont{
			margin-bottom: v(-30);
		}
		&__item{
			min-height: v(300);
			border-radius: v(5);
			padding: v(20);
			margin-bottom: v(30);
		}
		&__name{
			max-width: 50%;
		}
		&__img{
			img{
				max-height: v(270);
			}
		}
	}
	@include media($w-lg) {
		padding-top: v(40);
		&__cont{
			margin-bottom: v(-50);
		}
		&__item{
			padding: v(30);
			margin-bottom: v(50);
			min-height: v(420);
			font-size: v(30);
		}
	}
	@include media($w-xl) {
		&__cont{
			margin-bottom: v(-80);
		}
		&__item{
			padding: v(40);
			margin-bottom: v(80);
			min-height: v(570);
			font-size: v(42);
		}
		&__img{
			img{
				max-height: 100%;
				max-width: v(497);
			}
		}
	}
}