.pr__item{
	--link-color-active: var(--link-color);
	display: flex;
	flex-flow: column;
	position: relative;
	z-index: 5;

	&:hover{
		z-index: 10;
		.pr__roast{
			span{
				opacity: 1;
				visibility: visible;
			}
		}
		.pr__buttons{
			.btn{
				transform: none;
				visibility: visible;
				opacity: 1;
			}
		}
	}

	&-md{
		.pr__img{
			padding: v(61) v(64) v(81);
		}
	}
	&-xl{
		.pr__img{
			padding: v(63) v(37) v(31);
		}
	}

	@include media($w-lg) {
		&-md{
			.pr__img{
				padding: v(84) v(48);
			}
		}
		&-xl{
			.pr__img{
				padding: v(84) v(48);
			}
		}
	}
}
.pr__img{
	position: relative;
	background: #fff;
	padding: v(70) v(44);

	img{
		width: 100%;
	}

	@include media($w-lg) {
		padding: v(120) v(64) v(80);
	}
}
.pr__gift{
	--transition: .3s var(--ease-out);
	display: inline-flex;
	align-items: flex-start;
	position: absolute;
	top: v(16);
	right: v(16);
	left: v(16);
	font-size: v(14);
	svg{
		width: v(28);
		height: v(28);
		min-width: v(28);
		margin-right: v(8);
		stroke: var(--carrot-2);
		transition: var(--transition);
	}

	&_capt{

	}
	&_data{
		margin-top: v(-6);
		padding-top: v(10);
		padding-bottom: v(26);
		border-radius: v(10);

		padding-right: v(40);
		transition: var(--transition);
	}
	&_hidden{
		border-top: 1px solid var(--line-gray);
		margin-top: v(10);
		padding-top: v(10);
		opacity: 0;
		visibility: hidden;
		transition: var(--transition);
		display: none;
	}
	&_img{
		margin-top: v(21);
		text-align: center;
		img{
			max-height: v(165);
			width: auto;
		}
	}


	@include media($w-lg) {
		font-size: v(20);
		top: v(20);
		right: v(29);
		left: v(19);
		svg{
			width: v(33);
			height: v(33);
			min-width: v(33);
			margin-right: v(10);
		}

		&:hover{
			.pr__gift{
				&_data{
					background: #f5f5f5;
					padding-left: v(20);
					padding-right: v(20);
				}
				&_hidden{
					display: block;
					opacity: 1;
					visibility: visible;
				}
			}
		}
	}
}
.pr__roast{
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: absolute;
	color: var(--text-gray);
	font-size: v(12);
	line-height: 1.25;
	top: v(16);
	left: v(16);
	right: v(16);

	@include media($w-md) {
		font-size: v(14);
	}
	@include media($w-lg) {
		top: v(24);
		left: v(24);
		right: v(24);
		font-size: v(16);
		span{
			// display: none;
			opacity: 0;
			visibility: hidden;
			transition: .3s var(--ease-out);
		}
	}
	@include media($w-xl) {
		font-size: v(20);
	}
}
.pr__buttons{
	display: flex;
	flex-wrap: wrap;
	position: absolute;
	bottom: v(8);
	left: v(17);
	margin: 0 v(-4);
	.btn{
		margin: 0 v(4) v(8);
		transition: .3s var(--ease);
		letter-spacing: 0;
		&:nth-child(2) {
			transition-delay: .1s;
		}
	}
	.btn-xs{
		--btn-height: 36;
		--btn-padding: 20;
		font-size: v(14);
	}
	@include media($w-lg) {

		bottom: v(10);
		left: v(20);
		margin: 0 v(-5);
		.btn{
			transform: translateY(10px);
			opacity: 0;
			visibility: hidden;
			margin: 0 v(5) v(10);
		}
		.btn-xs{
			--btn-height: 43;
			font-size: v(18);
		}
	}
	@include media($w-xl) {
		.btn-xs{
			font-size: v(20);
		}
	}
}
.pr__add{
	--btn-color: var(--black);
	--btn-color-active: #fff;
	--btn-fill: var(--black);

	&_arrow{
		width: v(13);
		height: v(12);
		margin-right: v(8);
	}
	&_cart{
		width: v(20);
		height: v(18);
	}

	@include media($w-lg) {
		&_cart{
			width: v(26);
			height: v(22);
		}
	}
}
.pr__sub{
	color: var(--text-gray);
	font-size: v(14);
	margin-top: v(16);
	margin-bottom: v(-8);

	@include media($w-lg) {
		margin-top: v(20);
		margin-bottom: v(-10);
		color: var(--text-black);
		font-size: v(20);
		font-weight: 500;
	}
}
.pr__name{
	display: flex;
	font-size: v(26);
	line-height: 1.1;
	letter-spacing: -0.03em;
	margin-top: v(16);

	@include media($w-lg) {
		margin-top: v(20);
		font-size: v(36);
	}
	@include media($w-xl) {
		font-size: v(42);
		padding-right: v(28);
	}
}
.pr__price{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	font-size: v(14);
	font-weight: 500;
	margin-top: v(16);
	&_item{
		display: inline-flex;
		align-items: center;
		min-height: v(28);
		border-radius: v(14);
		border: 2px solid var(--black);
		padding: 0 v(14);
		&-special{
			color: var(--carrot-2);
			border-color: var(--carrot-2);
		}
	}
	&_old{
		color: var(--text-gray);
		margin-left: v(13);
		position: relative;
		&:before{
			content: '';
			display: inline-block;
			vertical-align: top;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: v(-3);
			right: v(-3);
			height: 1px;
			background: currentColor;

		}
	}
	&_weight{
		margin-left: v(15);
		font-size: v(14);
		color: var(--text-gray);
	}

	@include media($w-lg) {
		font-size: v(20);
		margin-top: v(10);
		&_item{
			min-height: v(33);
			border-radius: v(17);
			padding: 0 v(20);
		}
		&_old{
			margin-left: v(10);
		}
		&_weight{
			font-size: v(20);
			font-weight: 500;
		}
	}
}
.pr__opt{
	margin-top: auto;
	// padding-top: v(18);
	margin: v(18) v(-10) 0;
	font-size: v(14);
	position: relative;

	&.inactive{
		.pr__opt_item{
			cursor: default;
		}
	}

	&_item{
		padding: 10px;
		cursor: pointer;
		&.checked{
			display: none;
		}
	}
	&_val{
		display: inline-flex;
		align-items: center;
		min-height: v(28);
		border-radius: v(14);
		border: 2px solid var(--black);
		padding: 0 v(16);
		font-weight: 500;
	}
	&_text{
		margin-top: v(8);
		color: var(--text-gray);
	}
	&_top{
		display: flex;
		align-items: center;
	}
	&_icon{
		display: inline-block;
		vertical-align: top;
		position: relative;
		width: v(28);
		height: v(28);
		border-radius: 50%;
		margin-left: v(8);
		background: var(--carrot-2);
		svg{
			width: v(12);
			height: v(8);
			fill: #fff;
			transition: .3s var(--ease);
		}
	}
	&_more{
		display: none;
		position: relative;
		overflow: hidden;
		// padding-top: v(10);
		// border-radius: 0 0 v(5) v(5);
		// transition: .5s var(--ease);
		// max-height: 0;
		.pr__opt{
			&_item{
				background: #fff;
				border-top: 1px solid var(--line-gray);
				// padding: v(20);
			}
		}
	}

	&:hover{
		/*.pr__opt{
			&_icon{
				svg{
					transform: scaleY(-1);
				}
			}
			&_more{
				display: inline-block;
			}
		}*/
	}



	&-copy{
		position: absolute!important;
		z-index: var(--z-modal)!important;
		margin-top: 0 !important;
		background: var(--soft-gray);
		margin-left: 0;
		margin-right: 0;
		opacity: 0;
		visibility: hidden;
		transition: .3s var(--ease-out);

		&.active{
			opacity: 1;
			visibility: visible;
		}
		.pr__opt{
			&_icon{
				svg{
					transform: scaleY(-1);
				}
			}
			&_item{
				// padding-left: v(20);
				// padding-right: v(20);
			}
			&_more{
				display: block;
				position: relative;
				left: 0;
				right: 0;
				width: 100%;
				transition: none;
			}
		}
	}

	@include media($w-lg) {
		// padding-top: v(20);
		font-size: v(20);
		margin-left: v(-20);
		margin-right: v(-20);
		&_item{
			padding: v(20);
		}
		&_val{
			min-height: v(33);
			border-radius: v(17);
			padding: 0 v(20);
		}
		&_text{
			font-weight: 500;
			color: var(--color-main);
			margin-top: v(10);
		}
		&_icon{
			width: v(33);
			height: v(33);
			margin-left: v(10);
		}
		&_more{
			// padding-top: v(20);
		}

		&-copy{
			margin: 0;
		}
	}
	@include media($w-xl) {

	}
}